body {
  background-color: #9edffd;
}

.main-header {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-around;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.title-gender {
  font-weight: bold;
  font-size: 18px;
}

.form-input {
  background-color: #7ec4eb;
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

.gander {
  padding: 5px 0 12px 0;
}

input[type="number"] {
  width: 100%;
  padding: 5px 13px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
  border-radius: 9px;
}

input[type="number"]:focus {
  background-color: lightblue;
}

.result {
  background-color: #7ec4eb;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

button {
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px 5px;
  background-color: #afe3fa;
}

.button-hitung {
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px 5px;
  background-color: #afe3fa;
}

.button-riset {
  background-color: white;
}

.information {
  background-color: #7ec4eb;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  display: none;
}

h3 {
  margin-bottom: 8px;
}

ol {
  margin-top: 5px;
  margin-bottom: 5px;
}

ul {
  margin-top: 8px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.toggle {
  display: none;
}
